{% block component %}
	{% title 'user.title_view' | trans({'name': name}) %}

			<div class="row">
				<label class="col-sm-2">Enabled</label>
				<div class="col-sm-10">
					{% if is_enabled %}
						<span class="badge badge-success">Enabled</span>
					{% else %}
						<span class="badge badge-danger">Disabled</span>
					{% endif %}
				</div>
			</div>

			{# <img class="media-object pull-left" src="{{ imageUrl }}" width="80" height="80"> #}

			<div class="row">
				<label class="col-sm-2">Name</label>
				<div class="col-sm-10">
					{{ name }}
				</div>
			</div>

			<div class="row">
				<label class="col-sm-2">Username</label>
				<div class="col-sm-10">
					{{ username }}
				</div>
			</div>

			{# if is_granted('EDIT_USER', user) #}
				<div class="row">
					<label class="col-sm-2">Email</label>
					<div class="col-sm-10">
						{{ email }}
					</div>
				</div>
			{# endif #}

			<div class="row">
				<label class="col-sm-2">Registered</label>
				<div class="col-sm-10">
				 {{ time_created | date('F j, Y') }}
				</div>
			</div>

{% endblock %}
